# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used in Data Science
* List commonly used libraries in Data Science
* Tabulating Data Science tools

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

| Data Science Tools |
|:------------------:|
|      Hadoop        |
|   Apache Spark     |
|    TensorFlow      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Ram Naishadham